<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceneo Webscraper</title>
    <link rel="stylesheet" href="static/mainStyle.css">
</head>
<body>
    <div class="navBar">
        <a href="{{url_for('extractOpinions')}}">
            Ekstrakcja opinii
        </a>
        <a href="{{url_for('showProductsList')}}">
            Lista produktów
        </a>
        <a href="{{url_for('index')}}">
            Strona główna
        </a>
        <a href="">
            O autorze
        </a>
    </div>
    <div class="mainContainer">
        <h1>Cel aplikacji</h1>
        <h3>Aplikacja ma na celu ekstrakcję opinii o danym produkcie z portalu Ceneo.pl</h3>
        <h1>Opis działania aplikacji</h1>
        <h3>TODO: Opis...</h3>
        <h1>Zastosowane biblioteki</h1>
        <h3>TODO: Opis zastosowanych bibliotek</h3>
        <h1>Zastosowane podejścia</h1>
        <h3>TODO: Opis zastosowanych podejść</h3>
    </div>
</body>
</html>